.idk {
    text-transform: lowercase;
}


.idk2 {
    text-transform: uppercase;
}

.idk3 {
    text-transform: capitalize;
}

.idk4 {
    text-transform: none;
}

.idk5{
    text-transform: unset;
}

p{
    text-decoration: overline;
}

.p1{
    text-decoration: underline;
}

.p2{
    text-decoration: double;
}

.p3{
    text-decoration: dotted;
}

.p4{
    text-decoration: wavy;
}

h2{
    text-shadow: 3px 3px 3px blue;
}

.h21{
    text-shadow: 15px 2px 6px red;
}

.h22{
    text-shadow: 1px 1px 1px black;
}

.h23{
    text-shadow: 17px 16px 2px tomato;
}

.h24{
    text-shadow: 19px 12px 4px turquoise;
}

.h3{
    text-align:center
}

.h31{
    text-align: left;
}

.h32{
    text-align: right;
}

.h33{
    text-align: start;
}

.h33{
    text-align: end;
}

.h4{
    line-height: 50px;
}

.h41{
    line-height: 23px;
}

.h42{
    line-height: normal;
}

.h43{
    line-height: 40px;
}

.h44{
    line-height: 5px;
}

.h5{
    letter-spacing: 6px;
}

.h51{
    letter-spacing: 0px;
}

.h52{
    letter-spacing: 100px;
}

.h53{
    letter-spacing: 2px;
}

.h54{
    letter-spacing: 50px;
}




.a1{
    word-spacing: 6px;
}

.a2{
    word-spacing: 0px;
}

.a3{
    word-spacing: 100px;
}

.a4{
    word-spacing: 2px;
}

.a5{
    word-spacing: 50px;
}